<div class="main-container">
  <h1>Discover Your Favorite Movies</h1>
  <app-input-search (search)="getQueryValue($event)"></app-input-search>
  @if(movieList().length > 0){
    <div class="movies-content">
      @for(movie of movieList(); track movie; let idx = $index) {
        <app-movie-card [movie]="movie"></app-movie-card>
      }
    </div>
    @if (movieList().length > 0) {
      <!-- Paginator -->
      <ngb-pagination
        [collectionSize]="totalResutls()"
        [(page)]="currentPage"
        [pageSize]="pageSize()"
        [maxSize]="5"
        [rotate]="true"
        (pageChange)="onPageChange($event)">
      </ngb-pagination>
    }
  } @else {
    @if (hasSearched() === true) {
      <p>No results found for your search.</p>
    }
  }
</div>
