
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
}



.movies-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}


.paginator-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
