.card-content {
  width: 20rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

  .card-content__image-content {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .card-content__badge {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
    }
  }

  .card-content__title-content {
    padding: 0.5rem;
    text-align: center;

    h3 {
      font-size: 1rem;
      font-weight: bold;
      color: #333;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .synopsis {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    text-align: justify;
    transition: opacity 0.3s ease;
  }
}
