.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 2rem;

  h1 {
    font-size: 2rem;
    color: #333;
    flex: 1;
    margin: 0;
  }
  app-input-search {
    width: 100%;
  }
}
.movies-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.not-found-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 50vh;
}


.paginator-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
